In [15]:
import pandas as pd
from ast import literal_eval
import time
import string

In [30]:
def to_list(x):
    return literal_eval(x)
    
converters = {
    'Answer Magma ethic users': to_list,
    'Answer Magma non-ethic users': to_list,
    'Answer Magma unclear users': to_list
}

examples = pd.read_csv('data/data.csv', converters=converters)

In [35]:
nothing_good = []
for i, answer in enumerate(examples['Answer Magma']):
    try:
        if not any([i in answer.lower() for i in string.ascii_lowercase]):
            nothing_good.append(i)
    except:
        nothing_good.append(i)
print(len(nothing_good))

0

In [33]:
examples.shape

(2482, 13)

In [34]:
examples.drop(axis=0, index=nothing_good, inplace=True)
examples.shape

(1924, 13)

In [39]:
examples['Answer Magma'] = examples.apply(lambda row : row['Answer Magma'].strip(), axis = 1)

In [40]:
examples.to_csv('data/data_' + str(time.time_ns()) + '.csv', index=False)